*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: cornflowerblue;
   
}
body>div{
    width: 600px;
    max-width: 100%;
    text-align: left;
}
.progress{
    width: 300px;
    height: 15px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid white;
    position: relative;
}
.progress_mini{
    border-radius: 10px;

    position: absolute;
    background-color: rgb(77, 134, 241);
    height: 12px;

}
.show{
    animation: prog 2s forwards;
}


@keyframes prog {
    0%{
        width: 0%;
    }
    99%{
        width: 100%;
    }
    /* 100%{
       width: 0;
    }
     */
}
button{
    padding: 8px 30px;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid white;
    margin: 10px 0px;
    color: white;
    cursor: pointer;
    transition: 0.6s;
}
button:hover{
    background-color: rgb(77, 134, 241);
    

}